#resizable { width: 150px; height: 150px; padding: 0.5em; }
#resizable h3 { text-align: center; margin: 0; }

.best-contenedor{
    display: flex;
    margin-top: 50px;   
    height: 100vh;
    background: #8cb0e6;  

}